/*body {*/
/*    margin: 25px;*/
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*    font-size: 15px;*/
/*}*/



/*.axis-title {*/
/*    font-size: .8rem;*/
/*}*/


.axis path,
.axis line {
    fill: light;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 11px;
}

.grid line {
    stroke: darkgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    font-size: 13px;
}


.axis path,
.axis line {
    fill: light;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 11px;
}
/*.d3-tip {*/
/*    padding: 2px;*/
/*    font-size: 11px;*/
/*}*/

/*.d3-tip2 {*/
/*    padding: 2px;*/
/*    font-size: 11px;*/
/*}*/

/*.d3-tip3 {*/
/*    padding: 2px;*/
/*    font-size: 11px;*/
/*}*/

/*.d3-tip5 {*/
/*    padding: 2px;*/
/*    font-size: 7px;*/
/*}*/


/*.line {*/
/*    fill: none;*/
/*    stroke: steelblue;*/
/*    stroke-width: 2px;*/
/*}*/

/*.grid line {*/
/*    stroke: lightgrey;*/
/*    stroke-opacity: 0.7;*/
/*    shape-rendering: crispEdges;*/
/*}*/


/*!*.grid_red {*!*/
/*!*    stroke: red;*!*/
/*!*    stroke-opacity: 1;*!*/
/*!*    shape-rendering: crispEdges;*!*/
/*!*}*!*/

/*.grid path {*/
/*    stroke-width: 0;*/
/*}*/

/*#chartholder {*/
/*    height: 400px;*/
/*    width: 600px;*/
/*}*/

/*.bar {*/
/*    display: inline-block;*/
/*    width: 15px;*/
/*    height: 10px; !* Gets overridden by D3 height below *!*/
/*    margin-right: 2px;*/
/*    background-color: teal;*/
/*}*/

/*#bar_chart {*/
/*    !*id: bar_chart;*!*/
/*    position: absolute;*/
/*    top: 0px;*/
/*    left: 0;*/
/*    width: 850px;*/
/*    height: 300px;*/
/*}*/

/*.bar_chart2 {*/
/*    !*id: bar_chart;*!*/
/*    position: absolute;*/
/*    top: 350px;*/
/*    left: 0;*/
/*    width: 850px;*/
/*    height: 300px;*/
/*}*/

/*.box {*/
/*    display: inline-block;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background: red;*/
/*    color: white;*/
/*}*/
