
.axis path,
.axis line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 11px;
}

.grid line {
    stroke: darkgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.source {
    margin-left: 70px;
    font-size: 12px;
    font-family: Segoe UI
}
