.container {
    margin-top: 50px;
}

.grid-row {
    overflow: hidden;
}

.grid-cell {
    float: left;
    width: 60px;
    height: 60px;
    position: relative;
}

.grid-cell.state {
    border: 1px solid #E1E1E1;
    background-color: #F2F2F2;
    color: #696969;
    font-size: 12px;
    text-align: left;
    cursor: pointer;
}

.grid-cell .state-label {
    position: absolute;
    top: 0;
    left: 0;
}

.line {
    fill: none;
    stroke: #011424;
    stroke-width: 1px;
}

.line2 {
    fill: none;
    stroke: #f5033b;
    stroke-width: 1px;
}

#chart-overlay {
    border: 1px solid grey;
    position: absolute;
    margin: 20px 0 0 20px;
    z-index: 2;
    background-color: white;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

#chart-overlay .title {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-top: 4px;
    font-weight: bold;
}

#chart-overlay .close {
    margin-right: 6px;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    font-size: 13px;
}

.tooltip1 {
    position: absolute;
    text-align: center;
    width: 200px;
    padding: 0;
    font: 12px sans-serif;
    background: lightsteelblue;
    border-radius: 8px;
    border: thin solid grey;
}

.tooltip h4 {
    margin-top: 10px;
}

.legend_title {
    position: absolute;
    right: 490px;
    width: 50px;
    height: 20px;
    font: 11px sans-serif;
    /*border: 3px solid green;*/
}

.legend_background {
    position: absolute;
    right: 415px;
    width: 50px;
    height: 80px;
    font: 8px sans-serif;
    /*border: 3px solid green;*/
}
.legend_title_year1 {
    position: absolute;
    right: 500px;
    width: 50px;
    height: 80px;
    font: 8px sans-serif;
    /*border: 3px solid green;*/
}
.legend_title_year2 {
    position: absolute;
    right: 450px;
    width: 50px;
    height: 80px;
    font: 8px sans-serif;
    /*border: 3px solid green;*/
}


.legend_title_year3 {
    position: absolute;
    right: 400px;
    width: 120px;
    /*height: 200px;*/
    font: 10px sans-serif;
    /*border: 12px solid green;*/
    border: 12px solid transparent;
}
.line{
    position: absolute;
    right: 520px;
    width: 35px;
    height: 2px;
    /*color: red;*/
    /*stroke: #f5033b;*/
    background-color: black;
    /*border-bottom: 2px solid red;*/

}

.line_background{
    position: absolute;
    right: 470px;
    width: 30px;
    height: 0.5px;
    background-color: lightgray;
    /*border-bottom: 2px solid red;*/

}


.line_avg{
    position: absolute;
    right: 520px;
    width: 35px;
    height: 2px;
    /*color: red;*/
    /*stroke: #f5033b;*/
    background-color: red;
    /*border-bottom: 2px solid red;*/

}