body {
    margin-top: 50px;
}

.grid-row {
    overflow: hidden;
}

.grid-cell {
    float: left;
    width: 60px;
    height: 60px;
    position: relative;
}

.grid-cell.state {
    border: 1px solid #E1E1E1;
    background-color: #F2F2F2;
    color: #696969;
    font-size: 12px;
    text-align: left;
    cursor: pointer;
}

.grid-cell .state-label {
    position: absolute;
    top: 0;
    left: 0;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1px;
}